<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Каталог фильмов</title>
</head>

<body>

<h1>Каталог фильмов</h1>

<a href="/movies/new">
    Добавить фильм
</a>

<table border="1">

    <thead>
    <tr>
        <th>Название</th>
        <th>Год</th>
        <th>Жанр</th>
        <th>Режиссер</th>
        <th>Актеры</th>
        <th>Действия</th>
    </tr>
    </thead>

    <tbody>

    <tr th:each="movie : ${movies}">

        <td th:text="${movie.title}"></td>

        <td th:text="${movie.year}"></td>

        <td th:text="${movie.genre.name}"></td>

        <td th:text="${movie.director}"></td>

        <td th:text="${movie.actors}"></td>

        <td>

            <a th:href="@{/movies/edit/{id}(id=${movie.id})}">
                Редактировать
            </a>

            <a th:href="@{/movies/delete/{id}(id=${movie.id})}">
                Удалить
            </a>

        </td>

    </tr>

    </tbody>

</table>

</body>
</html>