<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Каталог фильмов</title>
</head>

<body>

<h1>Каталог фильмов</h1>

<form th:action="@{/}" method="get" id="searchForm">

    <input type="text"
           id="searchInput"
           name="query"
           th:value="${query}"
           placeholder="Название, описание или жанр"
           autocomplete="off">



    <button type="button" id="clearSearch">
        Сбросить
    </button>

</form>

<a href="/movies/new">
    Добавить фильм
</a>

<table border="1">

    <thead>
    <tr>
        <th>Название</th>
        <th>Год</th>
        <th>Жанр</th>
        <th>Режиссер</th>
        <th>Актеры</th>
        <th>Действия</th>
    </tr>
    </thead>

    <tbody>

    <tr th:each="movie : ${movies}" class="movie-row">

        <td th:text="${movie.title}"></td>

        <td th:text="${movie.year}"></td>

        <td th:text="${movie.genre.name}"></td>

        <td th:text="${movie.director}"></td>

        <td th:text="${movie.actors}"></td>

        <td th:text="${movie.description}"
            class="movie-description"
            style="display: none;">

        </td>

        <td>

            <a th:href="@{/movies/edit/{id}(id=${movie.id})}">
                Редактировать
            </a>

            <a th:href="@{/movies/delete/{id}(id=${movie.id})}">
                Удалить
            </a>

        </td>

    </tr>

    </tbody>

</table>
<script>
    const searchInput = document.getElementById("searchInput");
    const clearSearchButton = document.getElementById("clearSearch");
    const movieRows = document.querySelectorAll(".movie-row");

    searchInput.addEventListener("input", function () {
        const query = searchInput.value.trim().toLowerCase();

        movieRows.forEach(function (row) {
            const movieText = row.textContent.toLowerCase();

            row.style.display = movieText.includes(query) ? "" : "none";
        });
    });

    clearSearchButton.addEventListener("click", function () {
        searchInput.value = "";

        movieRows.forEach(function (row) {
            row.style.display = "";
        });

        searchInput.focus();
    });
</script>

</body>
</html>
